.search-results {
  position: relative;
  background-color: #5a2e26;
  box-shadow: inset 0px 0px 0px 40px black;
  border: 10px solid #190a00;
  flex-direction: column;
  padding: 3rem 0;
  display: flex;
  flex: 1;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url('../img/burger.png');
    background-image: linear-gradient(#240c00e0, #100000c2), url('../img/burger.png');
                
    background-size: 320%;
    background-position: 30%;
    background-repeat: no-repeat;

    filter: blur(8px); 
    z-index: -1;

  }
      
}

.overlay-recipe {
  backdrop-filter: blur(10px);

}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}

.copyright {
  display: flex;
  color: #f7f2f2;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 0 3.5rem;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
    color: rgb(247, 242, 242);
  }
}


// @media only screen and (max-width: 1200px) {
// }

// @media only screen and (max-width: 1023px) {
// }

// @media only screen and (max-width: 767px) {
// }

// @media only screen and (max-width: 480px) {

// }

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1023px) {
  .search-results:before {
    background-size: 390%;
  }
}

@media only screen and (max-width: 767px) {

  .search-results:before {
    background-size: 590%;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
}

  .pagination {
    padding-inline: 2rem;
}

.copyright {
  padding: 0 4.5rem;
}
}

@media only screen and (max-width: 480px) {
  .results{
    justify-content: space-around;
  }

}